<div class="header">
  <ul class="nav">
    <li><%= link_to("Octopus Deploy", "https://octopusdeploy.com/") %></li>
    <li><%= link_to("Create Recipe", new_recipe_path) %></li>
    <li><%= link_to("Home", root_url) %></li>
  </ul>
</div>
<div class="container">
  <h1>Current Recipes</h1>
  <table class="components">
    <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name.capitalize, recipe_path(recipe) %></td>
      <td><%= recipe.created_by || "Unknown Author" %></td>
    </tr>
    <% end %>
  </table>
  <button type="button" class="add-button"><a href="/newrecipe">Create New Recipe</a></button>

</div>
