<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<div class="header">
  <ul class="nav">
    <li><%= link_to("Octopus Deploy", "https://octopusdeploy.com/") %></li>
    <li><%= link_to("Create Recipe", new_recipe_path) %></li>
    <li><%= link_to("Home", root_url) %></li>
  </ul>
</div>
<div class="container">

  <h1><%= @recipe.name.capitalize %></h1>
  <p>
  </p>
  <table class="components">
    <tr>
      <td class="heading">Project Name</td>
      <td class="heading">Release Version</td>
    </tr>
    <% @recipe.components.each do |component| %>
    <tr>
      <td><%= component.project_name %></td>
      <td><%= component.release_version %></td>
    </tr>
    <% end %>
    <tr>
      <td class="heading">  <%= form_for RecipeComponent.new do |f| %>
  <%= f.hidden_field :recipe_id, value: @recipe.id %>
  <%= f.label :component_id, "Add Component" %>
  <%= f.select(:component_id, @components_values.sort) %>
  <%= f.submit "add", :class => 'add-button' %>
  <% end %></td>
      <td class="heading">Created by: <%= @recipe.created_by || "Unknown Creator" %><br />
    Source Environment: <%= @recipe.source_environment_name %><br />
    Environment ID:<%= @recipe.source_environment_id %></td>
    </tr>
  </table>

</div>
<script>
    $(document).ready(function() { $("#recipe_component_component_id").select2(); });
</script>

